body
{
background-size: cover;
background-position: center;
}
.heading{
    width: 100%;
    text-align: left;
    padding: 15px;
}
.heading h2{
    display: inline;
}
.heading button{
    font-size: 20px;
    float: right;
    border: 1px solid white;
}
#start, #status, #restart{
    font-size: 20px;
}
h4 {
    color: black;
    line-height: 2;
    margin: 0px;
    font-size: 26px;
}
.modal-dialog{
    width: 90%;
    font-size: 18px;
}
h5{
    background-color: gray;
    color: white;
    line-height: 2;
    margin: 0px;
    bottom: 0px;
    position: fixed;
    width: 100%;
    font-size: 20px;
}
canvas{
    border: 1px solid white;
    box-shadow: 5px 5px 5px grey;
    border-radius: 20px;
}
